<div class="dashboard-container" style="background-image: url('<%= asset_path 'portal.jpg' %>');">
  <div class="dashboard-content">
    <h1>Welcome to the Company Announcement Portal Dashboard</h1>

    <p class="content1">This portal allows you to manage and view announcements conveniently.</p>
  </div>
</div>
</div>
<%= render 'layouts/footer' %>
