<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid nav1">
    <div class="d-flex align-items-center">
      <%= link_to 'Company Announcement Portal', root_path, class: 'navbar-brand mr-4' %>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
          </li>
      </ul>
    </div>
  </div>
</nav>
